body {
    background-color: black;
    background-size: cover;
	cursor: url(photos/site/cursor.png), auto;
}

.indexContent {
	margin:auto;
	border:2px white solid;
	text-align:center;
	text-decoration:none;
	color:white;
	background-color:black;
}

.listTitle {
	text-shadow:3px 2px 0 purple;
}

#mainContent {
	margin:auto;
	background-color:black;
	width:800px;
}

#mainHeader {
	margin:auto;
	text-align:center;
	color:white;
	text-shadow:5px 3px 0 purple;
	border:2px white solid;
	width:800px;
	background-color:black;
	
}

#headerImage {
	max-width:800px;
}
	
a {
	color:white;
	cursor: url(photos/site/cursor3.png), auto;
}

.releaseInfo {
	list-style-type:none;
	text-align:center;
	display:inline;
	padding:0;
}

#seeker{
	display:flex;
	margin:auto;
	width:500px;
}

.playBtn{
	margin:auto;
	border:1px white solid;
	background:purple;
	width:auto;
	font-size:large;
	cursor: url(photos/site/cursor3.png), auto;
}

.refresh{
	margin:auto;
	border:1px white solid;
	background:purple;
	width:auto;
	font-size:large;
	cursor: url(photos/site/cursor3.png), auto;
}
