body {
	background-image:url();
	background-size: cover;
	cursor: url(photos/site/cursor.png), auto;
	overflow-x:hidden;
}

.indexContent {
	margin:auto;
	border:2px white solid;
	text-align:center;
	text-decoration:none;
	color:white;
	background-color:black;
}

.listTitle {
	text-shadow:3px 2px 0 purple;
}

#mainContent {
	margin:auto;
	background-color:black;
	width:43%;
	max-width:800px;
}

#mainHeader {
	margin:auto;
	text-align:center;
	color:white;
	text-shadow:5px 3px 0 purple;
	border:2px white solid;
	width:43%;
	max-width:800px;
	background-color:black;
	
}

#headerImage {
	max-width:100%;
}
	
a {
	color:white;
	cursor: url(photos/site/cursor3.png), auto;
}

.releaseInfo {
	list-style-type:none;
	text-align:center;
	display:inline;
	padding:0;
}

#seeker{
	display:flex;
	margin:auto;
	width:500px;
	max-width:100%;
}

.playBtn{
	margin:auto;
	border:1px white solid;
	background:purple;
	width:60px;
	font-size:large;
	cursor: url(photos/site/cursor3.png), auto;
}
.refresh{
	margin:auto;
	border:1px white solid;
	background:purple;
	width:auto;
	font-size:large;
	cursor: url(photos/site/cursor3.png), auto;
}

#adspace {
	margin:auto;
	top:100px;
	position:sticky;
}

.ad > img{
	height:auto;
	width:100%;
	border:1px black solid;
}

div > .ad{
	height:auto;
	max-width:20%;
}

#ad1div {
	margin:auto;
	float:left;
	width:400px;
	height:300px;
}

#ad2div {
	margin-top:100px;
	margin-right:50px;
	float:right;
	width:300px;
	height:700px;
} 

.indexContent > img {
	max-width:100%;
}
